services:
  api:
    build: .
    container_name: fastapi_app
    command: uvicorn testdebiritservice.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env

  db:
    image: postgres:15
    container_name: postgres_db
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis

  celery_worker:
    build: .
    container_name: celery_worker
    command: celery -A testdebiritservice.celery worker --loglevel=info
    depends_on:
      - redis
      - db
    env_file:
      - .env

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A testdebiritservice.celery beat --loglevel=info
    depends_on:
      - redis
      - db
    env_file:
      - .env

volumes:
  postgres_data:
